@keyframes animate {

  0% {
    transform: translateY(-750px) rotate(0deg);
    border-radius: 0;
    opacity: 1;
  }

  100% {
    transform: translateY(150px) rotate(480deg);
    border-radius: 50%;
    opacity: 0;
  }

}

.backgroundAnimation {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}

.backgroundAnimation__circles li {
  transform: translateY(-800px) rotate(0deg);
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  animation: animate 10s linear infinite;
  bottom: 0;
}

.backgroundAnimation__circles_theme_dark li {
  background: #c7f227;
}

.backgroundAnimation__circles_theme_light li {
  background: #5D39E0;
}

.backgroundAnimation__circles li:nth-child(1) {
  left: 60%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.backgroundAnimation__circles li:nth-child(2) {
  left: 45%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.backgroundAnimation__circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.backgroundAnimation__circles li:nth-child(4) {
  left: 50%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.backgroundAnimation__circles li:nth-child(5) {
  left: 85%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.backgroundAnimation__circles li:nth-child(6) {
  left: 90%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.backgroundAnimation__circles li:nth-child(7) {
  left: 65%;
  width: 120px;
  height: 120px;
  animation-delay: 7s;
}

.backgroundAnimation__circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.backgroundAnimation__circles li:nth-child(9) {
  left: 40%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.backgroundAnimation__circles li:nth-child(10) {
  left: 80%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}