.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0 160px;
  border-bottom: 1px solid #5D39E0;
}

.portfolio_theme_light {
  background-color: #ddd;
  color: #2a2c38;
}

.portfolio__title {
  border-bottom: 2px solid #5D39E0;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: -.04em;
  line-height: 27px;
  margin: 0 0 60px;
  padding: 0 0 15px;
  text-align: center;
  width: 80%;
}

.portfolio__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 550px);
  grid-template-rows: repeat(auto-fit, 350px);
  justify-content: center;
  gap: 60px;
}

@media(max-width:1455px) {
  .portfolio__list {
    grid-template-columns: repeat(auto-fit, 350px);
    grid-template-rows: repeat(auto-fit, 250px);
    gap: 40px;
  }
}

@media(max-width:950px) {
  .portfolio__list {
    grid-template-columns: repeat(auto-fit, 550px);
    grid-template-rows: repeat(auto-fit, 350px);
  }

  .portfolio {
    padding: 60px 0;
  }
}


@media(max-width:600px) {
  .portfolio__list {
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(auto-fit, 250px);
  }
}